_site
.sass-cache
.jekyll-metadata

.fake
.ionide
_posts/2023/2023-03-12-quick-note:-what-you-need-for-modifying-ifc-files_.markdown
_posts/2023/2023-03-12-quick-note:-what-you-need-for-modifying-ifc-files_.markdown
